@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.App {
  text-align: center;
  background-color: #2D5578;
  min-height: 100vh;
  min-width: 100%;
  color: #EDB34D;
}

header{
  display: flex;
  justify-content: space-between;
}

@media (max-width: 450px) {
  header{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.logo{
  font-family: 'Lobster', cursive;
}